@import "static.css";
.carousel-item{
  object-fit: cover;
  height: 20rem;
}
.btn-fullcolor:hover,
.btn-fullcolor:active  {
  color: #fff;
  background-color: #202833;
  border-color: transparent;
}
